

/***Font***/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');






/******


PRIMARY COLOR ========   BLUE   ===    #3596ff  ;

SECONDARY COLOR =======  INDIGO   ===  #6366F1   ;

TERTIARY COLOR =======   ROSE   ===   #f43f5e  ;



****************/





   /***Color-Variables***/


/* Light Color Scheme */
:root,
:root[data-color-mode="light"] {
	color-scheme: light dark;
	--text-color: #000;
	--background-color: #fff;
	--link-color: #00f;
    --border: #e0e0e0;
    
/******Change HERE ******/

  --primary-color: #3596ff;
  --secondary-color: #6366F1;
  --tertiary-color: #f43f5e;
}

/* Dark Color Scheme */
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--background-color: #333;
		--link-color: #2196f3;
    --border: #525252;
    
/******Change HERE ******/

  --primary-color: #61aeff;
  --secondary-color: #8e8fee;
  --tertiary-color: #ff758c;
	}
}
:root[data-color-mode="dark"] {
	--text-color: #fff;
	--background-color: #333;
	--link-color: #2196f3;
  --border: #525252;

/******Change HERE ******/

--primary-color: #61aeff;
--secondary-color: #8e8fee;
--tertiary-color: #ff758c;
}













.custom-radios div {
  display: inline-block;
}
.custom-radios input[type="radio"] {
  display: none;
}
.custom-radios input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios input[type="radio"] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
}



/********* EDIT HERE **********/

/********Accent Radio Buttons **********/



.custom-radios input[type="radio"]#color-1 + label span {
  background-color: var(--primary-color);
}
.custom-radios input[type="radio"]#color-2 + label span {
  background-color: var(--secondary-color);
}
.custom-radios input[type="radio"]#color-3 + label span {
  background-color: var(--tertiary-color);
}

.custom-radios input[type="radio"]:checked + label span img {
  opacity: 1;
}










* {
    font-family: Lexend Deca, sans-serif !important;
}


/* Use the Color Scheme */
body {
	color: var(--text-color);
	background: var(--background-color) !important;
}

/***Styles***/

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 14px;
    width: 130px;
    height: 46px;
    color: #fff;
    background: var(--secondary-color);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    outline: none;
    }



    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
   }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222;
   }

    



   
   
/*** toggle  **/

/* Visually hide the label text and Inject Light/Dark Mode Icon (based on checkbox value) */
#toggle-darkmode {
	display: none;
}
#toggle-darkmode + label > span {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
#toggle-darkmode + label:after {
	font-size: 4em;
	content: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='%23000' xmlns='http://www.w3.org/2000/svg'><path d='M9.5 13.4282C12.2614 13.4282 14.5 11.1896 14.5 8.4282C14.5 5.66678 12.2614 3.4282 9.5 3.4282C6.73858 3.4282 4.5 5.66678 4.5 8.4282C4.5 11.1896 6.73858 13.4282 9.5 13.4282Z'/%3E%3Cpath d='M17.5 9.9282C18.3284 9.9282 19 9.25663 19 8.4282C19 7.59978 18.3284 6.9282 17.5 6.9282C16.6716 6.9282 16 7.59978 16 8.4282C16 9.25663 16.6716 9.9282 17.5 9.9282Z'/%3E%3Cpath d='M13.5 16.8564C14.3284 16.8564 15 16.1848 15 15.3564C15 14.528 14.3284 13.8564 13.5 13.8564C12.6716 13.8564 12 14.528 12 15.3564C12 16.1848 12.6716 16.8564 13.5 16.8564Z'/%3E%3Cpath d='M5.5 16.8564C6.32843 16.8564 7 16.1848 7 15.3564C7 14.528 6.32843 13.8564 5.5 13.8564C4.67157 13.8564 4 14.528 4 15.3564C4 16.1848 4.67157 16.8564 5.5 16.8564Z'/%3E%3Cpath d='M1.5 9.9282C2.32843 9.9282 3 9.25663 3 8.4282C3 7.59978 2.32843 6.9282 1.5 6.9282C0.671573 6.9282 0 7.59978 0 8.4282C0 9.25663 0.671573 9.9282 1.5 9.9282Z'/%3E%3Cpath d='M5.5 3C6.32843 3 7 2.32843 7 1.5C7 0.671573 6.32843 0 5.5 0C4.67157 0 4 0.671573 4 1.5C4 2.32843 4.67157 3 5.5 3Z'/%3E%3Cpath d='M13.5 3C14.3284 3 15 2.32843 15 1.5C15 0.671573 14.3284 0 13.5 0C12.6716 0 12 0.671573 12 1.5C12 2.32843 12.6716 3 13.5 3Z'/%3E%3C/svg%3E%0A");
	cursor: pointer;
}
#toggle-darkmode:checked + label:after {
	content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='%23fff' xmlns='http://www.w3.org/2000/svg'><path d='M15.2581 12.0197C15.4605 11.6578 15.1142 11.2555 14.704 11.3159C12.5215 11.6371 10.2168 11.0594 8.39391 9.52987C5.94904 7.47838 5.03987 4.2758 5.79394 1.37985C5.89841 0.978612 5.53643 0.589934 5.15442 0.751094C4.02338 1.22825 2.98559 1.97375 2.1423 2.97874C-0.697714 6.36334 -0.256242 11.4094 3.12836 14.2494C6.51295 17.0894 11.559 16.6479 14.399 13.2633C14.7297 12.8693 15.0159 12.4527 15.2581 12.0197Z'/%3E%3C/svg%3E%0A");
  color: var(--text-color);
}


/**** Style Radio btns *****/


/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


/* IMAGE STYLES */
.dark, .light, .auto {
  cursor: pointer;
  border-radius: 10px;
  border: .5px solid var(--border);
}


div {
  display: inline-block;
}

.auto-rd-btn, .dark-rd-btn, .light-rd-btn{
  margin: 12px;
}




#dark > input:checked + .dark{
  box-shadow: 
  0 0 0 1.5px var(--border),
  0 0 0 6px var(--background-color),
  0 0 0 10px #0c8;
}




#light > input:checked + .light{
  box-shadow: 
  0 0 0 1.5px var(--border),
  0 0 0 6px var(--background-color),
  0 0 0 10px #0c8;
}




#auto > input:checked + .auto{
  box-shadow: 
  0 0 0 1.5px var(--border),
  0 0 0 6px var(--background-color),
  0 0 0 10px #0c8;
}














