

/***Font***/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');









   /***Color-Variables***/


/* Light Color Scheme */
:root,
:root[data-force-color-mode="light"] {
	color-scheme: light dark;
	--text-color: #000;
	--background-color: #fff;
	--link-color: #00f;
    --border: #e0e0e0;
    --primary-color: #f43f5e;
}

/* Dark Color Scheme */
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #fff;
		--background-color: #333;
		--link-color: #2196f3;
    --border: #525252;
    --primary-color: #f43f5e;
	}
}
:root[data-force-color-mode="dark"] {
	--text-color: #fff;
	--background-color: #333;
	--link-color: #2196f3;
  --border: #525252;
  --primary-color: #f43f5e;
}











* {
    font-family: Lexend Deca, sans-serif !important;
}


/* Use the Color Scheme */
body {
	color: var(--text-color);
	background: var(--background-color) !important;
}

/***Styles***/

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 14px;
    width: 130px;
    height: 46px;
    color: #fff;
    background: var(--primary-color);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    outline: none;
    }



    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
   }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #222;
   }
    .custom-radios div {
        display: inline-block;
   }
    .custom-radios input[type="radio"] {
        display: none;
   }
    .custom-radios input[type="radio"] + label {
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 14px;
   }
    .custom-radios input[type="radio"] + label span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
   }
    .custom-radios input[type="radio"] + label span img {
        opacity: 0;
        transition: all 0.3s ease;
   }
    .custom-radios input[type="radio"]#color-1 + label span {
        background-color: #3596FF;
   }
    .custom-radios input[type="radio"]#color-2 + label span {
        background-color: #6366F1;
   }
    .custom-radios input[type="radio"]#color-3 + label span {
        background-color: #F43F5E;
   }

    .custom-radios input[type="radio"]:checked + label span img {
        opacity: 1;
   }
    













   
/*** toggle  **/

/* Visually hide the label text and Inject Light/Dark Mode Icon (based on checkbox value) */
#toggle-darkmode {
	display: none;
}
#toggle-darkmode + label > span {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
#toggle-darkmode + label:after {
	font-size: 4em;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' style='transform: rotate(90deg);' class='DarkModeToggle__MoonOrSun-sc-1ngd9fq-1 qkgHI'%3E%3Cmask id='moon-mask-main-nav'%3E%3Crect x='0' y='0' width='18' height='18' fill='%23FFF'%3E%3C/rect%3E%3Ccircle cx='25' cy='0' r='8' fill='--text-color'%3E%3C/circle%3E%3C/mask%3E%3Ccircle cx='9' cy='9' fill='var(--text-color)' mask='url(%23moon-mask-main-nav)' r='5'%3E%3C/circle%3E%3Cg%3E%3Ccircle cx='17' cy='9' r='1.5' fill='var(--text-color)' style='transform-origin: center center; transform: scale(1);'%3E%3C/circle%3E%3Ccircle cx='13' cy='15.928203230275509' r='1.5' fill='var(--text-color)' style='transform-origin: center center; transform: scale(1);'%3E%3C/circle%3E%3Ccircle cx='5.000000000000002' cy='15.92820323027551' r='1.5' fill='var(--text-color)' style='transform-origin: center center; transform: scale(1);'%3E%3C/circle%3E%3Ccircle cx='1' cy='9.000000000000002' r='1.5' fill='var(--text-color)' style='transform-origin: center center; transform: scale(1);'%3E%3C/circle%3E%3Ccircle cx='4.9999999999999964' cy='2.071796769724492' r='1.5' fill='--text-color' style='transform-origin: center center; transform: scale(1);'%3E%3C/circle%3E%3Ccircle cx='13' cy='2.0717967697244912' r='1.5' fill='--text-color' style='transform-origin: center center; transform: scale(1);'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
	cursor: pointer;
}
#toggle-darkmode:checked + label:after {
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' style='transform: rotate(40deg);' class='DarkModeToggle__MoonOrSun-sc-1ngd9fq-1 qkgHI'%3E%3Cmask id='moon-mask-main-nav'%3E%3Crect x='0' y='0' width='18' height='18' fill='%23FFF'%3E%3C/rect%3E%3Ccircle cx='10' cy='2' r='8' fill='--text-color'%3E%3C/circle%3E%3C/mask%3E%3Ccircle cx='9' cy='9' fill='--text-color' mask='url(%23moon-mask-main-nav)' r='8'%3E%3C/circle%3E%3Cg%3E%3Ccircle cx='17' cy='9' r='1.5' fill='--text-color' style='transform-origin: center center; transform: scale(0);'%3E%3C/circle%3E%3Ccircle cx='13' cy='15.928203230275509' r='1.5' fill='--text-color' style='transform-origin: center center; transform: scale(0);'%3E%3C/circle%3E%3Ccircle cx='5.000000000000002' cy='15.92820323027551' r='1.5' fill='--text-color' style='transform-origin: center center; transform: scale(0);'%3E%3C/circle%3E%3Ccircle cx='1' cy='9.000000000000002' r='1.5' fill='--text-color' style='transform-origin: center center; transform: scale(0);'%3E%3C/circle%3E%3Ccircle cx='4.9999999999999964' cy='2.071796769724492' r='1.5' fill='--text-color' style='transform-origin: center center; transform: scale(0);'%3E%3C/circle%3E%3Ccircle cx='13' cy='2.0717967697244912' r='1.5' fill='--text-color' style='transform-origin: center center; transform: scale(0);'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
  color: var(--text-color);
}



/**** Style Radio btns *****/


/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


/* IMAGE STYLES */
.dark, .light, .auto {
  cursor: pointer;
  border-radius: 10px;
  border: .5px solid var(--border);
}


div {
  display: inline-block;
}

.auto-rd-btn, .dark-rd-btn, .light-rd-btn{
  margin: 12px;
}




#dark > input:checked + .dark{
  box-shadow: 
  0 0 0 1.5px var(--border),
  0 0 0 6px var(--background-color),
  0 0 0 10px #0c8;
}




#light > input:checked + .light{
  box-shadow: 
  0 0 0 1.5px var(--border),
  0 0 0 6px var(--background-color),
  0 0 0 10px #0c8;
}




#auto > input:checked + .auto{
  box-shadow: 
  0 0 0 1.5px var(--border),
  0 0 0 6px var(--background-color),
  0 0 0 10px #0c8;
}




























